@font-face {
  font-family: "Baloo2";
  src: url("../assets/fonts/Baloo2-Variable.ttf") format("TrueType");
}
:root {
  --yellow: #eac23f;
  --black: #1f1c19;
  --primary-clr: light-dark(var(--yellow), var(--black));
  --secondary-clr: light-dark(var(--black), var(--yellow));
  color-scheme: light dark;
}
* {
  font-family: Baloo2, Tahoma, Geneva, Verdana, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  transition: all ease-in-out 400ms;
  scroll-behavior: smooth;
  accent-color: var(--primary-clr);
  &::-webkit-scrollbar {
    display: none;
  }
  user-select: none;
}
[data-theme="dark"] {
  color-scheme: dark;
}
[data-theme="light"] {
  color-scheme: light;
}
[data-theme="system"] {
  color-scheme: light dark;
}
[data-scrollbar] {
  &::-webkit-scrollbar {
    display: block;
    width: 0.25rem;
    background-color: var(--primary-clr);
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--secondary-clr);
    border-radius: 0.15rem;
    cursor: pointer;
  }
}
main {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  background-color: var(--primary-clr);
  color: var(--secondary-clr);
}
#clocks,
#app {
  height: 50%;
  width: 100%;
}
#clocks {
  overflow: hidden auto;
}
